<mat-card>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <h2>Log In</h2>
        <mat-error *ngIf="!loginValid">
          Kullanıcı adı ve şifre geçersiz.
        </mat-error>
        <mat-form-field>
          <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
          <mat-error>
            Lütfen geçerli bir mail adresi girin.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
          <mat-error>
            Lütfen geçerli bir şifre girin.
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
      </form>
    </mat-card-content>
  </mat-card>